<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Global Land and Ocean Temperature Anomalies
    </title>
  </head>
  <body
    background="/static/images/img.png"
    link="#000"
    alink="#017bf5"
    vlink="#000"
  >
    <br />
    <h3 align="center">
      <font face="Lato" size="6">WEATHER</font>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <font face="cinzel" size="4">
        <a href="/">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/weather">Trend</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/visualize">Visualize</a>
      </font>
    </h3>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1 align="center">
      <font face="Lato" color="blue	" size="7">
        Global Land and Ocean Temperature Anomalies
      </font>
    </h1>
    <h3 align="center">
      <font face="Lato" color="#000" size="5">
        Simple.Temperature.Measure
      </font>
    </h3>
    <br />
    <h1 align="left">
      <font face="Lato" color="blue" size="6">
        Latest News
      </font>
    </h1>
    <h3 align="left">
      <font face="Lato" color="#000" size="5">
        New Website Launched on April 15th, 2020
      </font>
    </h3>
    <br />
    <h1 align="left">
      <font face="Lato" color="blue" size="6">
        Data Programming Website... Take a look around and let us know what you
        think.
      </font>
    </h1>
    <br />
    <h1 align="left">
      <font face="Lato" color="blue" size="6">
        Welcome to the Global Land and Ocean Temperature Anomalies
      </font>
    </h1>
    <h3 align="left">
      <font face="Lato" color="#000" size="5">
        Annual temperature refers to the average of the maximum and minimum
        temperatures of a year
      </font>
    </h3>
    <br />
    <h3 align="left">
      <font face="Lato" color="#000" size="5">
        This website provides data from January-December,units:"Degrees Celsius"
      </font>
    </h3>
  </body>
  <footer
    align="center"
    class="w3-center w3-black w3-padding-16"
    style="align-items: bottom;"
  >
    <p>
      Final Project - Data Programming
    </p>
  </footer>
</html>
