<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      Global Land and Ocean Temperature Anomalies
    </title>
  </head>
  <body
    background="/static/images/img.png"
    link="#000"
    alink="#017bf5"
    vlink="#000"
  >
    <br />
    <h3 align="center">
      <font face="Lato" size="6">WEATHER</font>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <font face="cinzel" size="4">
        <a href="/">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/weather">Trend</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/visualize">Visualize</a>
      </font>
    </h3>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <h1 align="center">
      <font face="Lato" color="blue	" size="7">
        Global Land and Ocean Temperature Anomalies
      </font>
    </h1>
    <h3 align="center">
      <font face="Lato" color="#000" size="5">
        Simple.Temperature.Measure
      </font>
    </h3>
    <br />
    <form align="center" method="post" action="{{ url_for('rslt') }}">
      <h3 align="center">
        <font face="Lato" color="#000" size="4">
          Enter an year between 1880-2016 to display:
        </font>
      </h3>
      <input align="center" type="number" id="year" name="year" /><br /><br />
      <button align="center" type="submit">
        Search!
      </button>
    </form>
  </body>
  <footer
    align="center"
    class="w3-center w3-black w3-padding-16"
    style="align-items: bottom;"
  >
    <p>
      Final Project - Data Programming
    </p>
  </footer>
</html>
